
  
  .app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .app_nav {
    padding: 30px;
    box-shadow: 0 1px 20px rgba(56, 40, 40, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #fff;
  }
  
  .app_boards_container {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    padding-top: 20px;
  }
  
  .app_boards {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .app_boards {
        justify-content: flex-start;
    }

    .board {
        flex: 0 0 calc(50% - 15px); /* Two boards per row */
        margin-bottom: 20px; 
    }
}

/* Media query for medium screens */
@media (min-width: 601px) and (max-width: 1200px) {
    .board {
        flex: 0 0 calc(33.33% - 15px); /* Three boards per row */
    }
}

/* Media query for larger screens */
@media (min-width: 1201px) {
    .board {
        flex: 0 0 calc(20% - 15px); /* Five boards per row*/
    }
}
  

  .dropdown-container {
    display: inline-block;
    position: relative;
    font-family: 'Arial', sans-serif;
  }
  
  
  .dropdown-label {
  margin-right: 20px;
  font-size: large;
  font-weight: bold;
  color: #333;
}

.dropdown-select {
  margin-left: 10px;  
  padding: 8px;
  font-size: 16px;
  border: 5px solid #ccc;
  border-radius: 10%;
  background-color: #fff;
  color: #333;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.dropdown-select:hover {
  border-color: #555;
}